<form action="/landmarks" method="post">
  <label for="">Landmark Name:</label><br>
  <input type="text" name="landmark[name]" value="" id="landmark_name"><br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value=""><br>

  <input type="submit" name="" value="Create New Landmark">
</form>
